:root{
    --contrast-color: #0084ff;
    --background-color: #000;
    --complementary-color: #002aff;
    --title-font: "Josefin Sans";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

/*TODO nav styles*/

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 20dvh;
    box-shadow: 0 0 5px var(--contrast-color);
    z-index: 1000;
}

.nav--ul{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav--li{
    width: 20%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav--a{
    color: var(--complementary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
}

.nav--a span{
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav--a:hover span{
    transform: translateY(0);
    opacity: 1;
}

.nav--svg{
    height: 30px;
    fill: var(--contrast-color);
    transition: all 0.3s ease;
    transform: translateY(20%);
}

.nav--a:hover svg{
    fill: var(--contrast-color);
    filter: drop-shadow(0 0 2px var(--complementary-color));
    transform: translateY(0);
}

.svg--personal-logo{
    scale: 3;
    transform: translateY(-1px);
}

/*TODO End nav styles*/
.header{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: right;
}

.header--img{
    width: 70%;
    height: 100%;
    background-image: url("/assets/images/header.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header--img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, var(--background-color));
}
/*TODO Header styles*/
