:root {
  --contrast-color: #fcf;
  --contrast-color-black: #fcf8;
  --background-color: #000;
  --complementary-color: #001;
  --contrast-about-me-color: #324;
  --title-font: "Josefin Sans";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  position: relative;
}

/*TODO nav styles*/

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  height: 20lvh;
  z-index: 1000;
}

.nav--ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav--li {
  width: 20%;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nav--a {
  color: var(--contrast-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
}

.nav--a span {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.nav--a:hover span {
  transform: translateY(0);
  opacity: 1;
}

.nav--svg {
  height: 30px;
  fill: var(--contrast-color);
  transition: all 0.3s ease;
  transform: translateY(20%);
}

.nav--a:hover svg {
  fill: var(--contrast-color);
  transform: translateY(0);
}

.svg--personal-logo {
  scale: 3;
  transform: translateY(-1px);
}

/*TODO End nav styles*/
.header {
  width: 100%;
  height: 100lvh;
  display: flex;
  justify-content: right;
  position: relative;
}

.header--img {
  width: 70%;
  height: 100%;
  background-image: url("/assets/images/header.jpg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, var(--background-color));
}

.header--content {
  position: absolute;
  bottom: 0%;
  transform: translateY(-50%);
  left: -40%;
  z-index: 100;
  color: var(--contrast-color);
  font-family: var(--title-font);
}

.header--content h1 {
  font-size: clamp(3rem, 10vw, 10rem);
  position: relative;
}

.header--content h1::before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 0%;
  height: 100%;
  background-color: var(--contrast-color);
  animation: appear 5s alternate infinite 3s;
}

.header--content h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.header--content p {
  letter-spacing: 5px;
}

@keyframes appear {
  0% {
    left: 0;
    width: 0%;
  }
  10% {
    width: 100%;
  }
  30% {
    width: 100%;
  }
  40% {
    right: 0;
    width: 0;
  }
}

@media (orientation: portrait) {
  .header--content {
    top: 50%;
    transform: translateY(0);
  }
}
/*TODO Header styles*/

/*TODO About Me styles*/

#about-me {
  width: 100%;
  position: relative;
  background: linear-gradient(
    to top,
    var(--contrast-about-me-color),
    var(--complementary-color) 70%
  );
  height: 300lvh;
  padding-top: 50%;
}

.about-me--container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  pointer-events: none;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

.about-me--img {
  padding: 10px 40px 20px 40px;
  width: clamp(250px, 30dvw, 500px);
  height: min-content;
  position: relative;
  background-color: var(--contrast-about-me-color);
  border-radius: 10px;
  opacity: 0;
  animation: appearImg auto both;
  animation-timeline: view();
  animation-range: 200px 800px;
  box-shadow: 0 0 10px #000;
}

@keyframes appearImg {
  from {
    transform: translateX(-30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-me--img img {
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.about-me--text {
  max-width: 700px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex: 1 1 300px;
  color: #fff;
  padding: 10px;
  font-family: var(--title-font);
}

.about-me--text h2 {
  width: 100%;
  font-size: clamp(2.5rem, 5vw, 5rem);
  text-align: left;
}

.span--1 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 0 500px;
}

.span--2 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 50px 500px;
}

.span--3 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 100px 500px;
}

.span--4 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 150px 500px;
}

.span--5 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 200px 500px;
}

.span--6 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 250px 500px;
}

.span--7 {
  display: inline-block;
  opacity: 0;
  animation: appearSpan auto both;
  animation-timeline: view();
  animation-range: 300px 500px;
}

@keyframes appearSpan {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    transform: translateY(-70%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.about-me--text p {
  padding: 0 30px;
  padding-bottom: 10px;
  font-size: clamp(1rem, 2vw, 2rem);
  text-transform: initial;
  opacity: 0;
  animation: appearP auto both;
  animation-timeline: view();
  animation-range: 400px 700px;
}

@keyframes appearP {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#section--about-me {
  transform: translateY(-20%);
  width: 300px;
  height: 300px;
  z-index: 0;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .about-me--text h2 {
    transform: translateY(-20px);
    border-radius: 10px;
    text-align: center;
  }

  .about-me--container {
    margin-top: 10lvh;
  }

  .about-me--text {
    max-width: 700px;
    gap: 0px;
    padding: 5px;
  }

  .about-me--img {
    width: 65%;
    height: max-content;
    animation: none;
    opacity: 1;
  }

  .about-me--img img {
    width: 100%;
  }

  .span--1 {
    opacity: 1;
    animation: none;
  }

  .span--2 {
    opacity: 1;
    animation: none;
  }

  .span--3 {
    opacity: 1;
    animation: none;
  }

  .span--4 {
    opacity: 1;
    animation: none;
  }

  .span--5 {
    opacity: 1;
    animation: none;
  }

  .span--6 {
    opacity: 1;
    animation: none;
  }

  .span--7 {
    opacity: 1;
    animation: none;
  }

  .span--blank {
    background-color: red;
    width: 3rem;
    display: inline-block;
  }
  .about-me--text p {
    opacity: 1;
    animation: none;
  }
}

/*TODO About Me End Styles*/

/*TODO Skills Styles*/

#skills {
  position: absolute;
  top: -200px;
}

.skills {
  background-color: var(--contrast-about-me-color);
  padding: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.skills--content {
  width: 100%;
  max-width: 750px;
  overflow-x: hidden;
  box-shadow: 0 0 10px #000;
  background-color: #213;
  border-radius: 20px;
  padding-top: 40px;
}

.skills--h2 {
  text-align: center;
  font-family: var(--title-font);
  color: #fff;
  font-size: 5rem;
}

.skills--elements {
  position: relative;
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  overflow-x: hidden;
  width: 1600px;
}

.skills--ul {
  position: relative;
  padding-block: 20px;
  display: flex;
  column-gap: 20px;
  justify-content: space-around;
}

.skills--li {
  list-style-type: none;
  display: flex;
  animation: carouselSkills 7s linear infinite;
}

@keyframes carouselSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-790px);
  }
}

.skills--li img {
  height: 150px;
  padding: 20px;
  border-radius: 30px;
}

/*TODO Skills Styles Ending*/

/*TODO Education Styles*/

#education {
  height: 100lvh;
  background-image: url("/assets/images/UNAM.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#education::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
}

.education--container {
  padding: 30px;
  position: relative;
  z-index: 10;
  width: 80%;
  max-width: 900px;
  height: fit-content;
  display: flex;
  backdrop-filter: blur(3px) brightness(1.3);
  border-radius: 50px;
  box-shadow: 0 0 10px #000;
  flex-wrap: wrap;
}

.education--element{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex: 1 1 400px;
}

.education--text{
  font-family: var(--title-font);
  color: #fff;
  text-shadow: 0 0 2px #000;
  height: 100%;
}

.education--text p{
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.education--text h2{
  text-align: center;
  font-size: 2rem;
}

.education--img {
  padding: 20px;
  filter: drop-shadow(0 0 2px #000);
  position: relative;
}

.education--img img{
  width: clamp(200px, 20vw, 400px);
}

/*TODO Education Styles Ending*/
/*TODO Contact Styles Ending*/

#contact{
  padding: 100px 20px;
  background-color: var(--contrast-about-me-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact--container{
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-shadow: 0 0 5px #000;
  background-color: #213;
  border-radius: 30px;
}

.contact--container h2{
  letter-spacing: 4px;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}

.contact--container h3{
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.contact--container h2,
.contact--container h3{
  text-align: center;
  font-family: var(--title-font);
  color: #fff;
}

#contact--form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact--form-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--contrast-about-me-color);
  padding: 5px;
  border-radius: 5px;
}

#contact--form label{
  
  font-family: var(--title-font);
  color: #fff;
}

#contact--form input{
  padding: 5px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #fff3;
  border-radius: 5px;
  color: #fff;
  font-family: var(--title-font);
  font-weight: 300;
  width: 200px;
}

#message{
  width: 100%;
  height: 100px;
  background-color: var(--contrast-about-me-color);
  border-radius: 5px;
  padding: 5px;
  border-style: none;
  resize: vertical;
  color: #fff;
}

#send{
  width: 100px;
  padding: 5px;
  background-color: var(--contrast-about-me-color);
  border-style: none;
  box-shadow: 0 0 2px #fff;
  border-radius: 10px;
  margin: auto;
  transition: all 0.2s ease;
  color: #fff7;
  text-transform: uppercase;
  font-weight: 500;
}

#send:hover{
  background-color: #213;
  box-shadow: 0 0 5px #fff;
  color: #fffb;
}

#send:active{
  background-color: #102;
  box-shadow: 0 0 100px #fff;
  color: #fff;
}

#success--dialog{
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 30lvh;
  background-color: var(--complementary-color);
  display: flex;
  flex-direction: column;
  font-family: var(--title-font);
  color: var(--contrast-color);
  border: none;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  border-radius: 40px;
  justify-content: center;
  box-shadow: 0 0 5px #fff;
  display: none;
}

#success--dialog h3{
}

#success--dialog button{
  width: 40px;
  padding: 5px;
  background-color: transparent;
  border-style: none;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #324;
}

#success--dialog button:hover{
  background-color: #324;
}

.footer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #fff;
  background-color: var(--complementary-color);
  gap: 20px;
  box-shadow: 0 0 10px #fff5;
}

.footer--links{
  display: flex;
}

.footer--links img{
  display: flex;
  width: 70px;
  background-color: #aaa;
  border-radius: 10px;
  filter: grayscale(1);
  transition: all 0.2s ease;
}

.footer--a{
  margin: 30px;
}

.footer--github:hover{
  filter: brightness(3) grayscale(0);
  background-color: #fff;
}

.footer--linkedin:hover{
  filter: grayscale(0);
  background-color: #fff;
}

