:root{
    --contrast-color: #fcf;
    --background-color: #000;
    --complementary-color: #f5f;
    --title-font: "Josefin Sans";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

/*TODO nav styles*/

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 20dvh;
    z-index: 1000;
}

.nav--ul{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav--li{
    width: 20%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav--a{
    color: var(--complementary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
}

.nav--a span{
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav--a:hover span{
    transform: translateY(0);
    opacity: 1;
}

.nav--svg{
    height: 30px;
    fill: var(--contrast-color);
    transition: all 0.3s ease;
    transform: translateY(20%);
}

.nav--a:hover svg{
    fill: var(--contrast-color);
    transform: translateY(0);
}

.svg--personal-logo{
    scale: 3;
    transform: translateY(-1px);
}

/*TODO End nav styles*/
.header{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: right;
}

.header--img{
    width: 70%;
    height: 100%;
    background-image: url("/assets/images/header.jpg");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header--img::after{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, var(--background-color));
}

.header--content{
    pointer-events: none;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    transform: translateY(-50%);
    left: -40%;
    z-index: 100;
    color: var(--contrast-color);
    font-family: var(--title-font);
}

.header--content h1{
    font-size: clamp(3rem, 10vw, 10rem);
    position: relative;
}

.header--content h1::before{
    content: "";
    position: absolute;
    bottom: 10px;
    width: 0%;
    height: 100%;
    background-color: var(--contrast-color);
    animation: appear 5s alternate infinite 3s;
}

.header--content h2{
    font-size: clamp(2rem, 5vw, 3rem);
}

.header--content p{
    letter-spacing: 5px;
}

@keyframes appear {
    0%{
        left: 0;
        width: 0%;
    }
    10%{
        width: 100%;
    }
    30%{
        width: 100%;
    }
    40%{
        right: 0;
        width: 0;
    }
}

@media (orientation: portrait){
    .header--content{
        top: 50%;
        transform: translateY(0);
    }
}
/*TODO Header styles*/

