:root{
    --contrast-color: #fcf;
    --background-color: #000;
    --complementary-color: #001;
    --contrast-about-me-color: #324;
    --title-font: "Josefin Sans";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    position: relative;
}

/*TODO nav styles*/

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 20dvh;
    z-index: 1000;
}

.nav--ul{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav--li{
    width: 20%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav--a{
    color: var(--contrast-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
}

.nav--a span{
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav--a:hover span{
    transform: translateY(0);
    opacity: 1;
}

.nav--svg{
    height: 30px;
    fill: var(--contrast-color);
    transition: all 0.3s ease;
    transform: translateY(20%);
}

.nav--a:hover svg{
    fill: var(--contrast-color);
    transform: translateY(0);
}

.svg--personal-logo{
    scale: 3;
    transform: translateY(-1px);
}

/*TODO End nav styles*/
.header{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: right;
}

.header--img{
    width: 70%;
    height: 100%;
    background-image: url("/assets/images/header.jpg");
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header--img::after{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, var(--background-color));
}

.header--content{
    pointer-events: none;
    display: inline-block;
    position: absolute;
    bottom: 0%;
    transform: translateY(-50%);
    left: -40%;
    z-index: 100;
    color: var(--contrast-color);
    font-family: var(--title-font);
}

.header--content h1{
    font-size: clamp(3rem, 10vw, 10rem);
    position: relative;
}

.header--content h1::before{
    content: "";
    position: absolute;
    bottom: 10px;
    width: 0%;
    height: 100%;
    background-color: var(--contrast-color);
    animation: appear 5s alternate infinite 3s;
}

.header--content h2{
    font-size: clamp(2rem, 5vw, 3rem);
}

.header--content p{
    letter-spacing: 5px;
}

@keyframes appear {
    0%{
        left: 0;
        width: 0%;
    }
    10%{
        width: 100%;
    }
    30%{
        width: 100%;
    }
    40%{
        right: 0;
        width: 0;
    }
}

@media (orientation: portrait){
    .header--content{
        top: 50%;
        transform: translateY(0);
    }
}
/*TODO Header styles*/

/*TODO About Me styles*/

#about-me{
    width: 100%;
    position: relative;
    background-color: var(--complementary-color);
}

.about-me--container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 120px;
    gap: 60px;
}

.about-me--img{
    padding: 10px 40px 20px 40px;
    width: clamp(250px, 30dvw, 500px);
    height: min-content;
    position: relative;
    background-color: var(--contrast-about-me-color);
    border-radius: 10px;
}

.about-me--img img{
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.about-me--text{
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex: 1 1 400px;
    color: #fff;
    padding:10px;
    font-family: var(--title-font);
    text-transform: uppercase;
}

.about-me--text h2{
    width: 100%;
    font-size: clamp(3rem, 5vw, 5rem);
    text-align: left;
}
.about-me--text p{
    background-color: var(--contrast-about-me-color);
    padding: 30px;
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-transform: initial;
    
}

@media (orientation: portrait){
    .about-me--text h2{
        transform: translateY(-20px);
        border-radius: 10px;
        text-align: center;
    }

    .about-me--container{
        margin-top: 30px;
    }

    .about-me--text{
        max-width: 700px;
        gap: 0px;
        padding: 5px;
    }

    .about-me--img{
        width: 70%;
    }

    .about-me--text p{
        
    }
}

/*TODO About Me End Styles*/