:root{
    --contrast-color: #0084ff;
    --background-color: #000;
    --complementary-color: #002aff;
    --title-font: "Josefin Sans";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    height: 20dvh;
    box-shadow: 0 0 5px var(--contrast-color);
}

.nav--ul{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%
}

.nav--li{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav--a{
    color: var(--complementary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-font);
}

.nav--a span{
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.nav--a:hover span{
    transform: translateY(0);
    opacity: 1;
}

.nav--svg{
    height: 30px;
    fill: var(--contrast-color);
    transition: all 0.3s ease;
}

.nav--a:hover svg{
    fill: var(--contrast-color);
    filter: drop-shadow(0 0 2px var(--complementary-color));
}

.svg--personal-logo{
    scale: 3;
    transform: translateY(-4px);
}